/* @import url('stylenull.css'); */

body {
	font-family: "Montserrat", sans-serif;
	background-color: #F6F6FA;
	padding: 40px 40px 40px 40px;
}

.wrapper {
	display: flex;
	flex-direction: row-reverse;
	background-color: #ffffff;
}

/* Main content */

.main-content {
	width: 100%;
	padding-left: 88px;
	padding-top: 80px;
	padding-right: 40px;
	padding-bottom: 80px;
	box-sizing: border-box;
}

/* Sidebar */

.sidebar {
	width: 370px;
	padding-top: 40px;
	padding-bottom: 40px;
	box-sizing: border-box;
	background-color: #e0ebfe;
}

.sidebar-content {
	padding-left: 40px;
	padding-top: 40px;
	padding-right: 40px;
	box-sizing: border-box;
}

.contacts-title {
	color: #161d2a;
	font-size: 22px;
	font-weight: 700;
	line-height: normal;
	margin-top: 0;
	margin-bottom: 8px;
}

.contacts-type {
	color: #161d2a;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.7;
	margin-right: 8px;
}

.contacts-link {
	color: #2979ff;
	font-style: 14px;
	font-weight: 400;
	line-height: 1.7;
}

.contacts-item {
	margin-top: 0;
	margin-bottom: 4px;
}

.contacts-container {
	margin-bottom: 40px;
}

/* Skills-container */

.skills-container {
	margin-bottom: 40px;
}

.skills-title {
	color: #161d2a;
	font-size: 22px;
	font-weight: 700;
	line-height: normal;
	margin-top: 0;
	margin-bottom: 8px;
}

.skills-list {
	padding-left: 16px;
}

.skills-list-item {
	color: #161d2a;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
}







h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	line-height: 1.2;
	font-weight: 700;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 14px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 16px;
}

p {
	color:#595959;;
	font-size: 14px;
	line-height: 1.7;
	font-weight: 400;
}