@import url('stylenull.css');

:root {
	--sidebar-color-title: #161d2a;
	--main-content-title: #000000;
	--main-content-description: #595959;
	--main-content-axxent: #6d9bf5;
}

.wrapper {
	width: 1200px;
	display: flex;
	flex-direction: row-reverse;
	background-color: #ffffff;
	margin: 0 auto;
}

/* Main content */

.main-content {
	width: 100%;
	padding-left: 88px;
	padding-top: 80px;
	padding-right: 40px;
	padding-bottom: 80px;
}

/* Sidebar */

.sidebar {
	width: 370px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #e0ebfe;
}

.sidebar-content {
	padding-left: 40px;
	padding-top: 40px;
	padding-right: 40px;
}

.contacts-title {
	color: var(--sidebar-color-title);
	font-size: 22px;
	font-weight: 700;
	line-height: normal;
	margin-top: 0;
	margin-bottom: 8px;
}

.contacts-type {
	color: var(--sidebar-color-title);
	font-size: 14px;
	font-weight: 700;
	line-height: 1.7;
	margin-right: 8px;
}

.contacts-link {
	color: #2979ff;
	line-height: 1.7;
}

.contacts-item {
	margin-top: 0;
	margin-bottom: 4px;
}

.contacts-container {
	margin-bottom: 40px;
}

/* Skills-container */

.skills-container {
	margin-bottom: 40px;
}

.skills-title {
	color: var(--sidebar-color-title);
	font-size: 22px;
	font-weight: 700;
	line-height: normal;
	margin-top: 0;
	margin-bottom: 8px;
}

.skills-list {
	padding-left: 16px;
}

.skills-list-item {
	color: var(--sidebar-color-title);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
}

/* My info */

.my-profession {
	color: var(--main-content-title);
	font-weight: 700;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 8px;
}

.my-name {
	color: var(--main-content-title);
	font-size: 45px;
	font-weight: 700;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 12px;
}

.my-descr {
	color:var(--main-content-description);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
}

.my-info {
	margin-bottom: 40px;
}

/* My project */

.my-project-container {
	margin-bottom: 40px;
}

.my-project-title {
	color: var(--main-content-title);
	font-size: 22px;
	font-weight: 700;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 8px;
}

.my-project-list {
	padding-left: 16px;
}

.my-project-item {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.7;
}

.my-project-link {
	color: #005fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
}

.my-project-tech {
	color: #595959;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
}

/* Work Experience */

.work-experience-container {
	margin-bottom: 40px;
}

.work-experience-title {
	color: var(--main-content-title);
	font-size: 22px;
	font-weight: 700;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 8px;
}

.work-experience-box {
	margin-bottom: 12px;
}

.work-experience-position {
	color: var(--main-content-title);
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 12px;
}

.work-experience-company {
	color: var(--main-content-axxent);
}

.work-experience-period {
	color: #a8a8a8;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 8px;
}

.work-experience-symbol {
	color: #000000;
}

.work-experience-list {
	padding-left: 21px;
}

.work-experience-item {
	color: var(--main-content-description);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
}

/* Education */

.education-container {
	margin-bottom: 12px;
}

.education-title {
	color: var(--main-content-title);
	font-size: 22px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 8px;
}

.education-university {
	color: var(--main-content-axxent);
	font-size: 16px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 8px;
}

.education-faculty {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 8px;
}

.education-period {
	color: #a8a8a8;
	font-size: 12px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}

.education-symbol {
	color: #000000;
}

/* Courses */

.courses-title {
	color: var(--main-content-title);
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 12px;
}

.courses-title-area {
	color: var(--main-content-axxent);
}

.courses-list {
	padding-left: 16px;
}

.courses-item-desk {
	color: var(--main-content-axxent);
}



