body {
	font-family: "Montserrat", sans-serif;
	background-color: #F6F6FA;
	padding: 40px 40px 40px 40px;
}

.wrapper {
	display: flex;
	flex-direction: row-reverse;
	background-color: #ffffff;
}

.main-content {
	padding-left: 88px;
	padding-top: 80px;
	padding-right: 40px;
	padding-bottom: 80px;
	box-sizing: border-box;
}




/* @import url('stylenull.css'); */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	line-height: 1.2;
	font-weight: 700;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 14px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 16px;
}

p {
	color:#595959;;
	font-size: 14px;
	line-height: 1.7;
	font-weight: 400;
}

